<%- include('header'); -%>
    <div class="box" id="heading">
      <h1><%=dayOfWeek%></h1>
    </div>
    <div class="box">
      <% for (let i = 0; i < newListItem.length; i++) { %>
      <div class="item">
        <input type="checkbox"/>
        <label>
            <p><%= newListItem[i] %></p>
        </label>
      </div>
      <% }%>

      <form action="/" method="post">
        <input name="input" type="text" autocomplete="off" placeholder="New Item" />
        <button type="submit" name="list" value="<%= dayOfWeek%>">+</button>
      </form>
    </div>
    <%- include('footer'); -%>
